.container {
  width: 780px;
  margin: 0 auto;
}

.col-33 {
  width: 33.33%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

/* Menu */

.menu {
  height: 50px;
  margin: 15px 0;
}

.logo {
  float: left;
}

.nav {
  float: right;
  padding-top: 10px;
  margin-left: 75px;
}

.nav-menu-point {
  margin-right: 25px;
}

/* Header */

.header {
  min-height: 400px;
  text-align: center;
}

.big-title {
  padding-top: 135px;
}

.header-text {
  padding-top: 10px;
}

/* Main Body */

.medium-title {
  padding: 20px 0;
}

/* About us */

.about-us {
  margin: 25px 0;
  min-height: 300px;
}

.features {
  margin-top: 20px;
}

.feature {
  float: left;
  text-align: center;
}

/* Projects */

.projects {
  margin: 25px 0;
  min-height: 300px;
}

.project {
  margin-top: 20px;
}

/* How we works */

.how-we-works {
  margin: 25px 0;
  min-height: 300px;
}

.work-steps {
  margin-top: 20px;
}

.work-step {
  float: left;
  text-align: center;
}

/* Contacts */

.contacts {
  margin: 25px 0;
  min-height: 350px;
}

.contacts-info {
  padding-top: 20px;
  margin: 0 auto;
}

.avatar {
  float: left;
  width: 150px;
}

.send-mail {
  float: left;
  padding-left: 20px;
}

.number {
  margin: 25px 0;
  text-align: center;
}

/* Clearfix */

.clear {
  display: table;
  clear: both;
  content: " ";
}