body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* Menu */

.nav-list a {
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px red dashed;
  color: red;
}

.nav-menu-point {
  display: inline;
  list-style-type: none;
}

/* Header */

.header {
  background: url('../images/ruby-code.jpg') no-repeat center;
  background-size: cover;
}

.big-title {
  padding-top: 135px;
  font-size: 50px;
  color: white;
}

.header-text {
  font-size:30px;
  color: white;
}

/* Main Body */

.medium-title {
  text-align: center;
  font-size: 36px;
}

.feature-icon,
.step-icon {
  width: 100px;
}

/* About us */

.features {
  width: 100%;
}

/* Projects */

.finfine {
  background: url('../images/finfine-background.jpg') no-repeat center;
  background-size: cover;
}

.project-text {
  color: white;
}

/* How we works */

.how-we-works {
  background: url('../images/how-we-works.jpg') no-repeat center;
  background-size: cover;
  color: white;
}

.work-steps {
  width: 100%;
}

.step-icon {
  fill: #ffb600;
}

/* Contacts */

